html {
  position: relative;
}

body {
  margin: 0;
}

::selection {
  color: rgba(0, 0, 0, 0.99);
  background: rgba(255, 217, 0, 0.99);
}

::-moz-selection {
  color: rgba(0, 0, 0, 0.99);
  background: rgba(255, 217, 0, 0.99);
}

.container {
  margin: 0 6%;
}

/* Header */

.logo {
  font-family: 'Semibold';
  font-size: 1.6em;
  line-height: 80%;
  margin: 12vmin 0 18vmin 0;
}

.logo_link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-family: 'Semibold';
  line-height: 120%;
  font-size: 3.5em;
  margin-bottom: 18vmin;
}

span {
  color: rgba(0, 0, 0, 0.99);
  background: rgba(255, 217, 0, 0.99);
  padding: 0.18rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/* Main photo */

.photo {
  background-image: url(../assets/images/sj-small.jpg);
  background-position: center center;
  height: 140vmin;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  margin: 16vmin auto;
}

/* Main content */

.intriduction h2 {
  font-family: 'Semibold';
  font-size: 2.6em;
  line-height: 160%;
  margin-top: 3rem;
}

.introduction_bold {
  font-family: 'Medium';
  font-size: 1.6em;
  line-height: 140%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.introduction_regular {
  font-family: 'Regular';
  font-size: 1.2em;
  line-height: 160%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.intriduction p a,
p a:after,
p a:visited {
  font-family: 'Semibold';
  cursor: pointer;
}

/* Contacts */

.contacts {
  margin-bottom: 4rem;
}

.contacts h2 {
  font-family: 'Semibold';
  font-size: 2.6em;
  line-height: 160%;
}

.contacts ul li {
  font-family: 'Regular';
  font-size: 1.2em;
  line-height: 180%;
}

/* Others */

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.99);
}

a:hover,
a:focus {
  color: rgba(0, 0, 0, 0.99);
  background: rgba(255, 217, 0, 0.99);
  padding: 0.4rem;
}

.scroll_top {
  /* opacity: 0.5; */
}

.scroll_top:hover,
.scroll_top:focus {
  /* opacity: 1; */
}

.selected {
  background: #ffd900fc;
  font-family: 'Medium';
}

/* Animation */
.animate {
  -webkit-animation: animate 1.9s cubic-bezier(0.2, 0.6, 0.2, 1);
  -moz-animation: animate 1.9s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: animate 1.9s cubic-bezier(0.2, 0.6, 0.2, 1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.delaytitle {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.delaycontent {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/* GitHub Button */

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

  0 %,
  100 % {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github - corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* Media rules */

@media (min-width: 768px) {
  body {
    margin: 0 10vmin;
  }

  .container {
    max-width: 940px;
    margin: 0 auto;
  }

  .title {
    font-size: 5em;
  }

  .photo {
    background-image: url(../assets/images/sj-big.jpg);
    height: 80vmin;
  }
}