:root {
    --strong-c: rgba(0, 0, 0, .75);
    --weak-c: #ffffff;
    --accent-c: #fcd900;
}

body,
html {
    color: var(--strong-c);
    font-size: 16px;
    font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
    font-variant-ligatures: common-ligatures;
    line-height: 1.67;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.8em 0;
    line-height: 1.33;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

a {
    color: inherit;
    transition: all 0.3s;
    text-decoration: underline;
    text-decoration-skip: ink background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

blockquote,
dl,
ol,
p,
pre,
ul {
    margin: 1.2em 0;
}

.stackedit__html {
    max-width: 750px;
    margin-top: 80px;
    margin-bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

::selection {
    background-color: var(--accent-c);
}

::-moz-selection {
    background-color: var(--accent-c);
}

.selected {
    background-color: var(--accent-c);
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding-top: 50px;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .contacts {
        flex-direction: column;
        justify-content: center;
    }
}