:root {
	--color-weak: hsl(0 0% 100%);
	--color-strong: rgb(14, 16, 26);
	--color-accent-strong: #03c197;
	--color-accent-weak: #6d758d;

	--font-family-base: 'e-Ukraine', sans-serif;
	--font-family-heading: 'e-Ukraine Head', sans-serif;

	--font-size-base: 16px;
	--font-size-heading-1: 48px;
	--font-size-heading-2: 24px;

	--line-height-base: 24px;
	--line-height-heading-1: 60px;
	--line-height-heading-2: 30px;

	--font-weight-base: 300;
}

body,
html {
	color: var(--color-strong);
	font-size: var(--font-size-base);
	font-family: var(--font-family-base);
	line-height: var(--line-height-base);
	font-weight: var(--font-weight-base);

	background-color: var(--color-weak);

	scroll-behavior: smooth;
}

body {
	max-width: 750px;

	/*	margin: 80px auto;*/
	padding: 0 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-base);
}

h1 {
	margin: 0.67em 0 40px;

	font-size: var(--font-size-heading-1);
	line-height: var(--line-height-heading-1);
}

h2 {
	margin-bottom: 40px;

	font-size: var(--font-size-heading-2);
	line-height: var(--line-height-heading-2);
}

p {
	margin: 20px 0;
}

a {
	background-color: transparent;
}

a,
strong {
	color: var(--color-accent-weak);
	font-weight: bolder;
}

.selected {
	padding: 0.1em 0.2em;

	color: var(--color-weak);

	background-color: var(--color-accent-strong);
}

pre {
	margin-bottom: 0;
	padding: 16px;

	overflow: auto;

	border-radius: 6px;

	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	font-size: 85%;
	line-height: 1.45;
	word-break: normal;
	word-wrap: normal;

	background-color: #f6f8fa;
}
