@font-face {
  font-family: 'e-Ukraine Head';
  src: url('../fonts/e-UkraineHead-Light.woff2') format('woff2'),
    url('../fonts/e-UkraineHead-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../fonts/e-Ukraine-Light.woff2') format('woff2'),
    url('../fonts/e-Ukraine-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../fonts/e-Ukraine-Regular.woff2') format('woff2'),
    url('../fonts/e-Ukraine-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
