@font-face {
  font-family: 'e-Ukraine';
  src: url('../fonts/e-Ukraine-Light.otf') format('opentype');
  font-style: auto;
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../fonts/e-Ukraine-Regular.otf') format('opentype');
  font-style: auto;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../fonts/e-Ukraine-Medium.otf') format('opentype');
  font-style: auto;
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../fonts/e-Ukraine-Bold.otf') format('opentype');
  font-style: auto;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: 'e-Ukraine-Head';
  src: url('../fonts/e-UkraineHead-Light.otf') format('opentype');
  font-style: auto;
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: 'e-Ukraine-Head';
  src: url('../fonts/e-UkraineHead-Regular.otf') format('opentype');
  font-style: auto;
  font-weight: 400;
  font-display: fallback;
}
